<div class="container">
    <div class="row">
      <div class="col align-self-start">
        <b>About Company</b>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio</p>
      </div>
      <div class="col align-self-center">
       <b>Our Services</b>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. ahdh bdhd ahs </p>
      </div>
      <div class="col align-self-end">
      <b>Health Care</b>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi beatae qu</p>
      </div>
    </div>
  </div>
