/* padding-left: 140px;
padding-top: 26px;
background-color: black;
} */

ul{
    background-color: aqua;
    padding-top: 1%;
};
  h1{
    /* text-align: center; */
    padding: 0px;
    /* position: absolute; */
    /* padding-left: 36%; */
    /* font-style: italic; */
    /* font-family: ui-monospace; */
    /* padding-top: 4%; */
    font-size: xxx-large;
}
