/* .btn{
    margin-left: 35%;
            /* font-family: system-ui; */
             /* padding: 0%; */
             /* margin-top: -50%; */
            /* font-style: oblique; */
            /* color: chartreuse;  */
            /* font-size: 50px;  */
            /* text-align:right;     
            font-kerning: none;
} */ 

/* .btn[_ngcontent-wxp-c19]{
    margin-left: 78%;
} */
